.pages {
  background-color: var(--color-primery);
}

.pages-header {
  background-color: var(--color-primery);
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.page-logo {
  color: var(--color-main);
  font-size: 30px;
  font-family: 'Marmelad', sans-serif;
}

.pages-body {
  background-color: var(--color-main);
  border-radius: 60px 60px 0 0;
  min-height: calc(100vh - 90px);
}

.burger-menu {
  width: 24px;
  height: 16px;
  cursor: pointer;
}

.burger-menu span {
  display: block;
  width: 24px;
  height: 2px;
  background: var(--color-main);
  margin-bottom: 4px;
}

.burger-menu span:last-child {
  margin-bottom: 0;
}