.logotype-component {
  display: flex;
  align-items: center;
}

.logotype-component img {
  transform: translateX(6px);
}

.logotype-component span.light {
  color: var(--color-main);
  font-size: 30px;
  margin-left: 7px;
}