@import url('./reset.scss');
@import url('./themes/dark.scss');
@import url('./themes/light.scss');
@import url('./pages/index.scss');
@import url('./layout/index.scss');
@import url('./widgets/wiget.scss');

:root {
  --color-primery: #bfb9e2;
  --color-alternative: #aaa2d8;
  --color-main: #ffffff;
  --color-header: #000000;
  --color-font: #2c1b47;
  --color-font-alternative: #604d9e;
  --color-accent: #fafa00;
  --color-helper: #2c1b47;
  --color-border: #a27eb8;
  --color-placeholder: #d9d9d9;
  --color-textarea: #545388;

  --admin-color-primery: #6556d9;
  --admin-main-color: #ffffff;
  --admin-main--background-color: #f5f5f5;
  --admin-alternative-color-font: #ffffff;
  --admin-main-color-font: #2c3339;
}
