@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marmelad&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

* {
  outline: none;
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  list-style-type: none;
  background: none;
  box-sizing: border-box;
  font-weight: 500;
  font-style: normal;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
  width: 170px;
  height: 40px;
  text-align: center;
}

img {
  pointer-events: none;
}

input {
  min-width: 300px;
  min-height: 35px;
  padding:  10px;
  border-radius: 4px;
}

input[type=radio] {
  min-width: auto;
  min-height: auto;
  padding: 0;
}

input[type=radio] ~ span {
  margin-left: 20px;
}

a {
  color: var(--color-alternative);
}

.flexer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}